/face-processing/models/detection/*.onnx
/face-processing/models/recognition/*.onnx
.venv/
.env
.env.production
data/
webapp/node_modules/
webapp/dist/
.ruff_cache/
__pycache__/
*.py[cod]
*.log
*.zip
